@use "./../../../variables" as variables;
.input {
	display: flex;
	align-items: center;
	height: 30px;
	width: 200px;
	background-color: variables.$input;
	border: 1px solid variables.$input;
	outline: none;
	input {
		width: 200px;
		height: 30px;
		color: variables.$color;
		border: none;
		background-color: transparent;
		&::placeholder {
			color: variables.$color + "82";
		}
	}
}
