.chat {
	display: grid;
	height: calc(100vh - 50px);
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 50px;
	grid-template-areas:
		"messages"
		"input";

	&--expanded {
		grid-template-columns: min(200px, 50%) 1fr;
		grid-template-areas:
			"friends messages"
			"friends input";
	}

	&__friends {
		grid-area: friends;
	}
	&__messages {
		grid-area: messages;
		overflow-y: scroll;
		display: flex;
		flex-direction: column;
	}
	&__input {
		grid-area: input;
	}

	&__messages::-webkit-scrollbar {
		width: 0.25rem;
	}

	&__messages::-webkit-scrollbar-track {
		background: #1e1e24;
	}

	&__messages::-webkit-scrollbar-thumb {
		background: #6649b8;
	}
}
ul,
li {
	text-align: left;
	list-style: none;
}
