.chat {
	display: grid;
	grid-template:
		"messages"
		"input";

	&--expanded {
		grid-template:
		"friends messages"
		"friends input";
	}

	&__friends {
		grid-area: friends;
	}
	&__messages {
		grid-area: messages;
		height: 90vh;
		width: 100%;
		overflow-y: scroll;
		display: flex;
		flex-direction: column;
	}
	&__input {
		grid-area: input;
	}

	&__messages::-webkit-scrollbar {
		width: 0.25rem;
	}

	&__messages::-webkit-scrollbar-track {
		background: #1e1e24;
	}

	&__messages::-webkit-scrollbar-thumb {
		background: #6649b8;
	}
}
ul,
li {
	text-align: left;
	list-style: none;
}
