.chat {
	&-friends {
		left: 0;
		height: auto;
	}
	&-messages {
		height: 90vh;
		width: 100%;
		overflow-y: scroll;
		display: flex;
		flex-direction: column;
	}

	&-visible {
		display: flex;
	}
	&-messages::-webkit-scrollbar {
		width: 0.25rem;
	}

	&-messages::-webkit-scrollbar-track {
		background: #1e1e24;
	}

	&-messages::-webkit-scrollbar-thumb {
		background: #6649b8;
	}
}
ul,
li {
	text-align: left;
	list-style: none;
}
